<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload image</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='upload.css')}}">
</head>
<body>
    <header>
        <nav>
            <img src="{{url_for('static', filename='img/flood.png')}}" alt="">
            <h3>Flood</h3>
            <div class="navlinks" id="happy">
                <i class="fas fa-times fa-custom" onclick=hidemenu()></i>
                <ul class="navbar">
                    <li> <a href=""> Home</a></li>
                    <li> <a href="#about"> About</a></li>
                    <li> <a href=""> Contact</a></li>
                    <li> <a href=""> Sign up</a></li>
                </ul>
            </div>
            <i class="fas fa-bars fa-custom" onclick=showmenu()></i>
        </nav>

    </header>

    <section class="signup-form">
        <div class="container">
            <h1>Upload here</h1>
            <form action="/detect_flood" method="POST" enctype="multipart/form-data">
                <div class="mail txt">
                    <div class="heading">Upload photo </div>
                    <input type="file" name="ip" id="ip" placeholder="upload photo">
                </div>
                <div class="mail txt">
                    <div class="heading">Enter Location</div>
                    <input type="text" name="" id="" placeholder="enter location">
                </div>
                <div class="date txt">
                    <div class="heading">Enter Date</div>
                        <input type="date" name="date" id="" placeholder="Enter your date">
                </div>
                <button type="submit">Check</button>
            </form>
        </div>
        <h1>{{pred}}</h1>  
    </section>
</body>
</html>